.Donate{
    background-color:#607d8b;
    /* height:500px; */
    text-align: center;
    padding:2.5rem;
    color:#fff;
    
}

.donation{
   background-color: #fff;
   min-width:20rem;
   max-width:30rem;
   margin:2.5rem auto;
   padding: 1rem auto;
}
