.Donate{
    background-color:#607d8b;
    height:500px;
    /* text-align: center; */
}

.donation{
    width:30%;
    background-color:white;
    background-size: 200px;
    margin:60px;
    position: absolute;
    margin-left: 450px;
    margin-top:100px;
}

.insert{
    margin:10px;
}

div> form>button{
    margin:10px;
    margin-left: 150px;
}

.donateh1{
    color: white;
    margin-left: 575px;
    margin-top: 20px;
    position: absolute;
}