.Donate{
    display: block;
    margin-left:80px;
    margin-right: 80px;
    background-color:#607d8b;
    height:300px;
    margin-top:10px;
}
.texts{
    font-family: 'yusei Magic', 'sans-serif';
    text-align: center;
}