.header{
    background-color:rgb(19, 155, 165);
    /* margin-bottom: 2px; */
    /* position:fixed; */
    
}

.header_option{
    justify-content:flex-end;
    display: flex;
}

.header_about{
    color: white;
    margin: 20px;
    margin-right: 25px;
}

.header_about:hover{
    cursor:pointer;
}