.header{
    background-color: #379683;
    display: flex;
    width:100%;
    z-index: 1;
    justify-content:center;
    right: 0;

}

.header_about{
    color: white;
    padding: 10px 3rem;
    display:inline;
    overflow:hidden;
    flex-wrap:nowrap;
}

a{
    text-decoration: none;
}
.header_about:hover{
    background-color: cornflowerblue;

}
.header_about>a:hover{
    /* cursor:pointer; */
    color:coral;
}

@media (max-width: 600px) {
    .header_about {
        padding : 10px 1rem;
    }
}

.header_about> a {
    color:white;
}